

section:nth-of-type(2) .bar {
    color: #666;
    height: 22px;
    position: relative;
    background-color: #eee;
    margin: 0 0 12px 0;
    align-items: flex-end;
    font-size: 7pt;
}

section:nth-of-type(2) .bar .tag {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #04C2C9;
    color: #fff;
    height: 100%;
    width: 110px;
    width: 70px;
}

section:nth-of-type(2) .bar {
    height: 28px;
    margin: 0 0 15px 0;
    font-size: 13.5pt;
}

section:nth-of-type(2) .bar span {
    display: initial;
}


section:nth-of-type(2) .bar.fill {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #00A1A7;
    padding: 0;
    opacity: 1; }